:root {
  --header-background: #881337;
  --text-color: #fff;
  --button-color: #be123c;
  --hero-color: #f1f5f9;
  --mid-background: #fff;
  --mid-text: #000;
  --mid-label: #475569;
  --mid-roses: #f3e8ff;
  --mid-rose: #6b21a8;
  --last-button: #fff;
}

.header {
  background-color: var(--header-background);
}

.header-first {
  padding: 24px 80px;
  display: grid;
  grid-template-columns: 1, 5fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}
.header-first-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 5;
  gap: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-first-links .theme-toggle-btn {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border: 2px solid var(--text-color);
  background: none;
  padding: 5px;
}
.header-first-links a {
  font-size: 16px;
  text-decoration: none;
  outline: none;
  color: var(--text-color);
}
.header-first .join {
  border-radius: 5px;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  padding: 12px 28px;
  font-size: 16px;
}
.header-first .join:hover {
  background-color: var(--text-color);
  color: var(--header-background);
}

.main-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  padding: 32px 0 0 80px;
}
.main-area .text-area {
  padding-top: 138px;
  max-width: 640px;
}
.main-area .text-area h1 {
  font-size: 72px;
  font-weight: 800;
}
.main-area .text-area .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
.main-area .text-area .buttons button {
  border-radius: 4px;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  padding: 6px 4px;
}

.searcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.searcher button {
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 5px;
  border: none;
  background: var(--button-color);
  color: var(--text-color);
}
.searcher button:hover {
  background-color: var(--text-color);
  color: var(--header-background);
}

.search-bar {
  color: #475569;
  width: 100%;
  max-width: 483px;
  background-color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 12px 16px;
}
.search-bar input {
  background: transparent;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 0;
  outline: none;
}
.search-bar img {
  margin-right: 8px;
}

.hero {
  background-color: var(--hero-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-icons {
  margin-top: 48px;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}

.midone {
  background-color: var(--mid-background);
  color: var(--mid-text);
}

.midone-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px;
  padding-bottom: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.midone-items svg {
  cursor: pointer;
}
.midone-items h2 {
  font-size: 40px;
  font-weight: 700;
  width: 1086px;
}
.midone-items button {
  border-radius: 5px;
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: #2563eb;
  padding: 12px 16px;
  font-size: 16px;
}

.kartinki {
  padding: 0 80px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-inline: auto;
}

.kartinki1 {
  background-image: url(../assets/pottery.png);
  width: 100%;
}

.midtwo {
  background-color: var(--hero-color);
  color: var(--mid-text);
  padding-bottom: 80px;
}

.midtwo-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px;
  padding-bottom: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.midtwo-items svg {
  cursor: pointer;
}
.midtwo-items h2 {
  font-size: 40px;
  font-weight: 700;
  width: 1021px;
}
.midtwo-items button {
  border-radius: 5px;
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: #2563eb;
  padding: 12px 16px;
  font-size: 16px;
}

.slider-wrapper {
  position: relative;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  margin-left: 80px;
  width: 1279px;
  overflow-x: auto;
  scrollbar-width: none;
}
.boxes::-webkit-scrollbar {
  display: none;
}

.card-one {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background: var(--mid-background);
  -webkit-box-shadow: 10px rgba(0, 0, 0, 0.7);
          box-shadow: 10px rgba(0, 0, 0, 0.7);
}
.card-one .back-box {
  background-image: url(../assets/cveti.png);
  width: 300px;
  height: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-one .back-boxsecond {
  background-image: url(../assets/lubop.png);
  width: 300px;
  height: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-one .back-boxthird {
  background-image: url(../assets/splash.png);
  width: 300px;
  height: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-one .back-boxforth {
  background-image: url(../assets/eyew.png);
  width: 300px;
  height: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-one .back-boxfifth {
  background-image: url(../assets/derev.png);
  width: 300px;
  height: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-one .paddings {
  padding-top: 16px;
  padding-left: 16px;
}
.card-one .prompted {
  padding: 8px;
  background-color: var(--hero-color);
  color: var(--mid-text);
  display: inline;
  border-radius: 4px;
  font-size: 14px;
}
.card-one img {
  margin-left: 16px;
}
.card-one .labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}
.card-one .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8px;
  margin-top: 2px;
}
.card-one h4 {
  font-weight: 400;
}

.purples {
  padding: 8px;
  background-color: var(--mid-roses);
  color: var(--mid-rose);
  display: inline;
  border-radius: 4px;
  font-size: 14px;
}

h5 {
  font-size: 14px;
  font-weight: 400;
  color: var(--mid-label);
}

.strelka-vlevo {
  position: absolute;
  padding: 12px;
  border-radius: 100%;
  border: none;
  background: var(--mid-background);
  height: 48px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 125px;
  left: 18px;
}
.strelka-vlevo:hover {
  background: var(--mid-roses);
}

.strelka-vpravo {
  position: absolute;
  padding: 12px;
  border-radius: 100%;
  border: none;
  background: var(--mid-background);
  height: 48px;
  top: 125px;
  left: 1371px;
}
.strelka-vpravo:hover {
  background: var(--mid-roses);
}

.midthree {
  background-color: var(--mid-background);
  color: var(--mid-text);
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

.icon-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 24px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h3 {
  margin-top: 16px;
  font-size: 20px;
}

.service-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.finder {
  font-size: 20px;
  padding: 16px 32px;
  border-radius: 5px;
  border: 2px solid var(--button-color);
  background: var(--button-color);
  color: var(--text-color);
}
.finder:hover {
  background-color: var(--text-color);
  color: var(--header-background);
}

.midfour {
  background-color: #475569;
  color: var(--text-color);
  padding: 80px;
}

.midfour-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
}
.midfour-items h2 {
  font-size: 56px;
  font-weight: 800;
}
.midfour-items .items-left {
  width: 600px;
}
.midfour-items .items-left p {
  margin-top: 24px;
  font-size: 18px;
}
.midfour-items .items-left .galochka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.midfour-items .items-left .galochka p {
  margin-top: 0;
  font-weight: 400;
  line-height: 160%;
}
.midfour-items .items-left button {
  margin-top: 24px;
  border-radius: 5px;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  padding: 12px 28px;
  font-size: 16px;
}
.midfour-items .items-left button:hover {
  background-color: var(--text-color);
  color: #475569;
}
.midfour-items .items-right {
  width: 600px;
  position: relative;
}
.midfour-items .items-right .video-item {
  margin-top: 32px;
  margin-left: 39px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.midfour-items .items-right .video-item iframe {
  border-radius: 20px;
}
.midfour-items .items-right .video-one {
  position: absolute;
}
.midfour-items .items-right .video-two {
  position: absolute;
  z-index: 1;
  top: 51px;
  left: 410px;
}
.midfour-items .items-right .video-three {
  position: absolute;
  z-index: 2;
  top: 277px;
  left: 110px;
}

.galochka-block {
  margin-top: 24px;
}

*,
html,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  margin-inline: auto;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

body.dark {
  --header-background: #321388;
  --text-color: orange;
  --button-color: #4721b1;
  --hero-color: #474a4d;
  --mid-background: rgb(34, 33, 33);
  --mid-text: orange;
  --mid-label: #92703c;
  --mid-roses: #615a7e;
  --mid-rose: #361055;
  --last-button: #475569;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */