.midfour {
  background-color: #475569;
  color: var(--text-color);
  padding: 80px;
}
.midfour-items {
  display: flex;
  justify-content: center;
  gap: 80px;
  h2 {
    font-size: 56px;
    font-weight: 800;
  }
  .items-left {
    width: 600px;
    p {
      margin-top: 24px;
      font-size: 18px;
    }
    .galochka {
      display: flex;
      align-items: center;
      gap: 8px;
      p {
        margin-top: 0;
        font-weight: 400;
        line-height: 160%;
      }
    }
    button {
      margin-top: 24px;
      border-radius: 5px;
      background-color: transparent;
      text-decoration: none;
      border: 2px solid var(--text-color);
      color: var(--text-color);
      padding: 12px 28px;
      font-size: 16px;

      &:hover {
        background-color: var(--text-color);
        color: #475569;
      }
    }
  }
  .items-right {
    width: 600px;
    position: relative;
    .video-item {
      margin-top: 32px;
      margin-left: 39px;
      transform: rotate(0);
      iframe {
        border-radius: 20px;
      }
    }
    .video-one {
      position: absolute;
    }
    .video-two {
      position: absolute;
      z-index: 1;
      top: 51px;
      left: 410px;
    }
    .video-three {
      position: absolute;
      z-index: 2;
      top: 277px;
      left: 110px;
    }
  }
}
.galochka-block {
  margin-top: 24px;
}
