:root {
  --header-background: #881337;
  --text-color: #fff;
  --button-color: #be123c;
  --hero-color: #f1f5f9;
  --mid-background: #fff;
  --mid-text: #000;
  --mid-label: #475569;
  --mid-roses: #f3e8ff;
  --mid-rose: #6b21a8;
  --last-button: #fff;
  --title-color: #0F172A;
}

@import './mixins';
@import './header';
@import './hero';
@import './midone';
@import './midtwo';
@import './midthree';
@import './midfour';
@import './midfive';
@import './midsix';
@import './midseven';
@import './mideight';
@import './footer';

*,
html,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  margin-inline: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--text-color);
}
body.dark {
  --header-background: #321388;
  --text-color: orange;
  --button-color: #4721b1;
  --hero-color: #474a4d;
  --mid-background: rgb(34, 33, 33);
  --mid-text: orange;
  --mid-label: #92703c;
  --mid-roses: #615a7e;
  --mid-rose: #361055;
  --last-button: #475569;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

li {
  list-style-type: none;
}
button {
  cursor: pointer;
}